@import "styleConstants";

.overallContainer {
  background: $color-white;
  text-align: center;
  width: 100vw;
}

.mainContainer {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 60%;
  position: relative;
}

.logo svg {
  margin: 20px;
}

.logo {
  margin-bottom: 60px;
}

.title {
  color: $color-blue-gray;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.description {
  color: $color-blue-gray;
  font-size: 18px;
  font-weight: 300;
}

.descriptionThick {
  color: $color-blue-gray;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.smallText {
  color: $color-blue-gray;
  font-size: 14px;
  font-weight: 300;
}

.blueText {
  color: $color-ocean-blue;
}

.divider {
  border: 2px solid $color-light-gray;
  border-radius: 8px 8px 8px 8px;
  width: 64px;
  margin: 48px auto;
}

.video {
  margin: 20px auto;
  width: 300px;
}

.getStartedButton {
  background: $color-beach-blue;
  border: 1px solid $color-beach-blue;
  border-radius: 8px;
  color: $color-white;
  display: block;
  font-size: 18px;
  margin: 50px auto;
  padding: 8px;
  text-decoration: none;
  width: 200px;
}

.getStartedButton h3 {
  font-weight: 400;
}

.goToAppButton {
  border: 1px solid $color-beach-blue;
  border-radius: 8px;
  color: $color-beach-blue;
  font-size: 14px;
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 10px;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    width: 100%;
    padding-bottom: 64px;
  }
}